<%= form_for(@memo) do |f| %>
  <% if @memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% @memo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="pageitem">
    <li class="textbox">
    <span class="name">メモ</span>
    <%= f.text_area :content, :rows => 4 %>
    </li>
  </ul>

  <ul class="pageitem"> 
    <li class="smallfield">
    <span class="name">lat</span>
    <%= f.text_field :lat, :placeholder => "waiting GPS.." %>
    </li>
    <li class="smallfield">
    <span class="name">lon</span>
    <%= f.text_field :lon, :placeholder => "waiting GPS.." %>
    </li>
  </ul>

  <ul class="pageitem">
    <li class="button">
    <%= f.submit "送信" %>
    </li>
  </ul>

<% end %>
