<div id="topbar" class="transparent">
  <div id="blueleftbutton">
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
    <% end %>
  </div> 
  <div id="title">地図メモ</div>
  <div id="rightbutton"><%= link_to '新規', new_memo_path %></div> 
</div>

<div id="content">
  <span class="graytitle">メモ一覧</span>
  <ul class="pageitem"> 
    <% @memos.each do |memo| %>
      <li class="menu">
        <a href="<%= url_for memo %>" class="name">
          <%= translate_emoticons memo.content.truncate(15) %>
        </a>
        <span class="arrow"></span> 
      </li>
    <% end %>
  </ul>
</div>

<div id="footer">
  <a href="http://iwebkit.net">Powered by iWebKit</a>
</div>
