<!DOCTYPE html>
<html>
<head>
  <title>ChizuMemo</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path %>
    <% else %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
