<!DOCTYPE html>
<html>
<head>
  <title>ChizuMemo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "iwebkit.js" %>
  <meta content="minimum-scale=1.0, width=device-width,user-scalable=no" name="viewport" />
</head>
<body>

<%= yield %>

</body>
</html>
